.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

@for $i from 1 through 100 {
    .w-#{$i} {
        width: #{$i}#{"%"};
    }
}

@for $i from 1 through 100 {
    .h-#{$i} {
        height: #{$i}#{"%"};
    }
}

@for $i from 1 through 100 {
    .w-md-#{$i} {
        @media (width <=768px) {
            width: #{$i}#{"%"};
        }
    }
}

.col-md {
    @media (width <=768px) {
        display: flex;
        flex-direction: column;
    }
}