@use '@angular/material' as mat;
@include mat.core();

$primary-palette: (
    50 : #fff3f5,
    100 : #fee0e7,
    200 : #fecbd7,
    300 : #fdb6c7,
    400 : #fca7bb,
    500 : #fc97af,
    600 : #fc8fa8,
    700 : #fb849f,
    800 : #fb7a96,
    900 : #fa6986,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffecf0,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-palette: (
    50 : #f1fef9,
    100 : #dbfdf1,
    200 : #c3fbe7,
    300 : #abf9dd,
    400 : #99f8d6,
    500 : #87f7cf,
    600 : #7ff6ca,
    700 : #74f5c3,
    800 : #6af3bd,
    900 : #57f1b2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #eefff8,
    A700 : #d4ffed,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$chalk-primary: mat.define-palette($primary-palette);
$chalk-accent: mat.define-palette($accent-palette);
$chalk-warn: mat.define-palette(mat.$red-palette);

$chalk-theme: mat.define-dark-theme((color: (primary: $chalk-primary,
                accent: $chalk-accent,
                warn: $chalk-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

.chalk {
    @include mat.all-component-colors($chalk-theme);
}