// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "mixins";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// In this case we have manually defined the color palettes in the _variables.scss file.

$primary-palette: (
  50: #eaf4f3,
  100: #cae3e0,
  200: #a7d1cb,
  300: #83bfb6,
  400: #69b1a7,
  500: #4ea397,
  600: #479b8f,
  700: #3d9184,
  800: #35887a,
  900: #257769,
  A100: #b8fff2,
  A200: #85ffe8,
  A400: #52ffdf,
  A700: #39ffda,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$accent-palette: (
  50: #e4f8f5,
  100: #bdede6,
  200: #91e1d5,
  300: #64d5c4,
  400: #43ccb7,
  500: #22c3aa,
  600: #1ebda3,
  700: #19b599,
  800: #14ae90,
  900: #0ca17f,
  A100: #cffff3,
  A200: #9cffe6,
  A400: #69ffda,
  A700: #4fffd3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$wonderland-primary: mat.define-palette($primary-palette);
$wonderland-accent: mat.define-palette($accent-palette);
// The warn palette is optional (defaults to red).
$wonderland-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wonderland-theme: mat.define-light-theme(
  (
    color: (
      primary: $wonderland-primary,
      accent: $wonderland-accent,
      warn: $wonderland-warn,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

:root {
  .wonderland {
    @include mat.all-component-colors($wonderland-theme);
    @include generate-colors-variables($wonderland-theme);
  }
}
