/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "elevation";
@import "flexbox";
// Themes
@import "material";
@import "macarons";
@import "westeros";
@import "chalk";
@import "wonderland";

/* Prismjs theme */
@import 'prismjs-darcula-theme/darcula.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}