pre {
    border-radius: 5px;
    overflow: auto;
    margin: 0;
}

.file-name {
    font-size: x-small;
    background-color: #2b2b2b;
    padding: 10px;
    color: #a3b7c6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}