@import "variables";

.footer {
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 8pt;
    height: $footer-height;

    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
    }

    .gh {
        text-decoration: none;
        color: inherit;
    }
}